# Created by venv; see https://docs.python.org/3/library/venv.html
# Python Cache
__pycache__/
*.pyc
**/__pycache__/

# Environments
backend/.venv/
.venv/

# Database & Environment Files
backend/community.db
backend/.env